<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>MonFiltre</filter-name>
        <filter-class>com.filtre.MonFiltre</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MonFiltre</filter-name>
        <servlet-name>AjouterLivre</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MonFiltre</filter-name>
        <servlet-name>AjouterEmployee</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MonFiltre</filter-name>
        <servlet-name>accepterEtudiant</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MonFiltre</filter-name>
        <servlet-name>acceptRes</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>inscription</servlet-name>
        <servlet-class>com.servlet.inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterEmployee</servlet-name>
        <servlet-class>com.servlet.AjouterEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterLivre</servlet-name>
        <servlet-class>com.servlet.AjouterLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterThese</servlet-name>
        <servlet-class>com.servlet.AjouterThese</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listerEtudiant</servlet-name>
        <servlet-class>com.servlet.listerEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierLivre</servlet-name>
        <servlet-class>com.servlet.ModifierLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerLivre</servlet-name>
        <servlet-class>com.servlet.SupprimerLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supprimerThese</servlet-name>
        <servlet-class>com.servlet.supprimerThese</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerEmployee</servlet-name>
        <servlet-class>com.servlet.SupprimerEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerEtudiant</servlet-name>
        <servlet-class>com.servlet.SupprimerEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RechLivByNom</servlet-name>
        <servlet-class>com.servlet.RechLivByNom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeLivre</servlet-name>
        <servlet-class>com.servlet.ListeLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listerEmployee</servlet-name>
        <servlet-class>com.servlet.listerEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListerThese</servlet-name>
        <servlet-class>com.servlet.ListerThese</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListerMemoire</servlet-name>
        <servlet-class>com.servlet.ListerMemoire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierThese</servlet-name>
        <servlet-class>com.servlet.ModifierThese</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminindex</servlet-name>
        <servlet-class>com.servlet.Adminindex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listeAjout</servlet-name>
        <servlet-class>com.servlet.listeAjout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accepterEtudiant</servlet-name>
        <servlet-class>com.servlet.accepterEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeReservation</servlet-name>
        <servlet-class>com.servlet.ListeReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listDemRes</servlet-name>
        <servlet-class>com.servlet.listDemRes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptRes</servlet-name>
        <servlet-class>com.servlet.acceptRes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getLivre</servlet-name>
        <servlet-class>com.servlet.getLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeLivreE</servlet-name>
        <servlet-class>com.servlet.ListeLivreE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GererPanier</servlet-name>
        <servlet-class>com.servlet.GererPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GererReservation</servlet-name>
        <servlet-class>com.servlet.GererReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rechBygenre</servlet-name>
        <servlet-class>com.servlet.rechBygenre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeThese</servlet-name>
        <servlet-class>com.servlet.ListeThese</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeMemE</servlet-name>
        <servlet-class>com.servlet.ListeMemE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getThese</servlet-name>
        <servlet-class>com.servlet.getThese</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMemoire</servlet-name>
        <servlet-class>com.servlet.getMemoire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Panier</servlet-name>
        <servlet-class>com.servlet.Panier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Annuler</servlet-name>
        <servlet-class>com.servlet.Annuler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginetudiant</servlet-name>
        <servlet-class>com.servlet.Loginetudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaReservation</servlet-name>
        <servlet-class>com.servlet.MaReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Livrerechereche</servlet-name>
        <servlet-class>com.servlet.Livrerechereche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Livreselect</servlet-name>
        <servlet-class>com.servlet.Livreselect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemoirR</servlet-name>
        <servlet-class>com.servlet.MemoirR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TheseR</servlet-name>
        <servlet-class>com.servlet.TheseR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TheseS</servlet-name>
        <servlet-class>com.servlet.TheseS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemoirS</servlet-name>
        <servlet-class>com.servlet.MemoirS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierEmployee</servlet-name>
        <servlet-class>com.servlet.ModifierEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profil</servlet-name>
        <servlet-class>com.servlet.Profil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterEmployee</servlet-name>
        <url-pattern>/AjouterEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterLivre</servlet-name>
        <url-pattern>/AjouterLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterThese</servlet-name>
        <url-pattern>/AjouterThese</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listerEtudiant</servlet-name>
        <url-pattern>/listerEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierLivre</servlet-name>
        <url-pattern>/ModifierLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerLivre</servlet-name>
        <url-pattern>/SupprimerLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supprimerThese</servlet-name>
        <url-pattern>/supprimerThese</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerEmployee</servlet-name>
        <url-pattern>/SupprimerEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerEtudiant</servlet-name>
        <url-pattern>/SupprimerEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RechLivByNom</servlet-name>
        <url-pattern>/RechLivByNom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeLivre</servlet-name>
        <url-pattern>/ListeLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listerEmployee</servlet-name>
        <url-pattern>/listerEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListerThese</servlet-name>
        <url-pattern>/ListerThese</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListerMemoire</servlet-name>
        <url-pattern>/ListerMemoire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierThese</servlet-name>
        <url-pattern>/ModifierThese</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminindex</servlet-name>
        <url-pattern>/Adminindex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listeAjout</servlet-name>
        <url-pattern>/listeAjout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accepterEtudiant</servlet-name>
        <url-pattern>/accepterEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeReservation</servlet-name>
        <url-pattern>/ListeReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listDemRes</servlet-name>
        <url-pattern>/listDemRes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptRes</servlet-name>
        <url-pattern>/acceptRes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getLivre</servlet-name>
        <url-pattern>/getLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeLivreE</servlet-name>
        <url-pattern>/ListeLivreE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GererPanier</servlet-name>
        <url-pattern>/GererPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GererReservation</servlet-name>
        <url-pattern>/GererReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rechBygenre</servlet-name>
        <url-pattern>/rechBygenre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeThese</servlet-name>
        <url-pattern>/ListeThese</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeMemE</servlet-name>
        <url-pattern>/ListeMemE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getThese</servlet-name>
        <url-pattern>/getThese</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMemoire</servlet-name>
        <url-pattern>/getMemoire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Panier</servlet-name>
        <url-pattern>/Panier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Annuler</servlet-name>
        <url-pattern>/Annuler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginetudiant</servlet-name>
        <url-pattern>/Loginetudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaReservation</servlet-name>
        <url-pattern>/MaReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Livrerechereche</servlet-name>
        <url-pattern>/Livrerechereche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Livreselect</servlet-name>
        <url-pattern>/Livreselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemoirR</servlet-name>
        <url-pattern>/MemoirR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TheseR</servlet-name>
        <url-pattern>/TheseR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TheseS</servlet-name>
        <url-pattern>/TheseS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemoirS</servlet-name>
        <url-pattern>/MemoirS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierEmployee</servlet-name>
        <url-pattern>/ModifierEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profil</servlet-name>
        <url-pattern>/Profil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
</web-app>
